table {
  width: 100%;
}

.hide {
  display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

/* mat-table */
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

/* for dialog pop-up */
.btn-dialog-close {
  min-width: 0px;
  padding: 0px;
  width: 45px;
  height: 40px;
}



