<div>
  <mat-form-field appearance='standard'>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)='applyFilter($event)' placeholder='2012, 2011... Bankverbindung..' #input>
  </mat-form-field>

  <table mat-table [dataSource]='dataSource' class='mat-elevation-z8' matSort>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>

    <!-- paymentID Column -->
    <ng-container matColumnDef='invoiceNumber'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription='Sortierung nach Rechnungsnummer'>Rechnungsnummer
      </th>
      <td mat-cell *matCellDef='let payment'> {{payment.invoiceNumber}} </td>
    </ng-container>

    <!-- Years Column -->
    <ng-container matColumnDef='year'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription='Sortierung nach Rechhnungsjahr'>Jahr
      </th>
      <td mat-cell *matCellDef='let payment'> {{payment.year}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef='bankAccountDetails'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription='Sortierung nach Bankverbindung'>Bankverbindung
      </th>
      <td mat-cell *matCellDef='let payment'> {{payment.bankAccountDetails}}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef='amount'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription='Sortierung nach Beitragsgröße'>Beitrag
      </th>
      <td mat-cell *matCellDef='let payment'> {{payment.amount}} €</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef='countStatus'>
      <th mat-header-cell *matHeaderCellDef
          matTooltip='✘ = nicht bezahlt | ✓ = bezahlt' mat-sort-header
          sortActionDescription='Sortierung nach Zahlstatus'>Status
      </th>
      <td mat-cell *matCellDef='let payment'>
        <button mat-icon-button color='primary'
                *ngIf='payment.countStatus'
                matTooltip='Als nicht bezahlt markieren!'
                (click)='changePaymentStatus(payment.invoiceNumber)'>
          <mat-icon>done_outline</mat-icon>
        </button>
        <button mat-icon-button color='warn'
                *ngIf='!payment.countStatus'
                matTooltip='Als bezahlt markieren!'
                (click)='changePaymentStatus(payment.invoiceNumber)'>
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>
  <mat-paginator [pageSizeOptions]='[10, 25, 50]'></mat-paginator>
</div>

