<form [formGroup]="formService.form" class="normal-form" (submit)="closeDialog('submit')">
  <div class="container" fxLayout="column">
    <p>
      <mat-toolbar fxLayout="row">
        <button mat-raised-button class="btn-dialog-close" color="warn" mat-stroked-button (click)="closeDialog('close')" tabIndex="-1"><mat-icon>clear</mat-icon></button>

        <span class="example-spacer"></span>

        <button mat-raised-button color="primary" type="submit"
                *ngIf="!formService.readonly"
                [disabled]="formService.form.invalid"
                [mat-dialog-close]="data">Save
        </button>

        <button mat-raised-button color="primary" *ngIf="formService.readonly"
        (click)="formService.readonly = !formService.readonly">Edit</button>
      </mat-toolbar>
    </p>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutGap="2%" fxLayoutAlign="center">
        <mat-form-field fxFlex="20%">
          <input formControlName="firstName" matInput placeholder="Vorname*" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input formControlName="lastName" matInput placeholder="Nachnamme*" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input formControlName="accountDetails" matInput placeholder="Bankverbindung*" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input formControlName="birthday" matInput [matDatepicker]="birthday" placeholder="Geburtsdatum" [disabled]="this.formService.readonly">
          <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
          <mat-datepicker #birthday></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutGap="2%" fxLayoutAlign="center">
        <mat-form-field fxFlex="20%">
          <input formControlName="street" matInput placeholder="Straße" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input
            formControlName="houseNumber" matInput placeholder="Hausnummer" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="postalCode" matInput placeholder="Postleitzahl" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="city" matInput placeholder="Stadt/Ort" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutGap="2%" fxLayoutAlign="center">
        <mat-form-field fxFlex="20%">
          <mat-label>Mitgliedsart</mat-label>
          <mat-select formControlName="memberType" [disabled]="this.formService.readonly">
            <mat-option value="1">Vollmitglied</mat-option>
            <mat-option value="2">Ermäßigt</mat-option>
            <mat-option value="3">Jugendlich</mat-option>
            <mat-option value="4">Fördermitglied</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="annualFee" matInput placeholder="Jahresbeitrag" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="accountDetails" matInput placeholder="Kontoverbindung" [readonly]="formService.readonly">
          <mat-error>Dieses Feld muss gesetzt sein!</mat-error>
        </mat-form-field>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutGap="2%" fxLayoutAlign="center">
        <mat-form-field fxFlex="20%">
          <input formControlName="entryDate" matInput [matDatepicker]="picker" placeholder="Eintrittsdatum" [disabled]="this.formService.readonly">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="cancellationDate" matInput [matDatepicker]="cancellationDate" placeholder="Kündigungsdatum" [disabled]="this.formService.readonly">
          <mat-datepicker-toggle matSuffix [for]="cancellationDate"></mat-datepicker-toggle>
          <mat-datepicker #cancellationDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="leavingDate" matInput [matDatepicker]="leavingDate" placeholder="Austrittsdatum" [disabled]="this.formService.readonly">
          <mat-datepicker-toggle matSuffix [for]="leavingDate"></mat-datepicker-toggle>
          <mat-datepicker #leavingDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <input formControlName="familyId" matInput placeholder="Familienmitglieds ID" [readonly]="formService.readonly">
        </mat-form-field>
      </div>
  </div>
</form>
